<div class="custom-container mt-10">
  <div class="custom-card card">
    <img src="<%= @item.image_url %>" class="custom-card-img card-img-top" alt="Item Image">
    <div class="custom-card-body card-body">
      <h5 class="custom-card-title card-title"><%= @item.title %></h5>
      <p class="custom-card-text card-text"><%= @item.body %></p>
    </div>
    <div class="custom-card-footer card-footer">
      <%= link_to 'return', items_path, class: "custom-link btn btn-primary" %>
    </div>
  </div>
</div>
